<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginFBServlet</servlet-name>
        <servlet-class>controller.loginFBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login-google</servlet-name>
        <servlet-class>controller.loginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>controller.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechargeController</servlet-name>
        <servlet-class>controller.RechargeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserController</servlet-name>
        <servlet-class>controller.editUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerFashionController</servlet-name>
        <servlet-class>controller.ManagerFashionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerProductServlet</servlet-name>
        <servlet-class>controller.managerProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerBillServlet</servlet-name>
        <servlet-class>controller.managerBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerEmployeeServlet</servlet-name>
        <servlet-class>controller.managerEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImgServlet</servlet-name>
        <servlet-class>controller.uploadImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chartServlet</servlet-name>
        <servlet-class>controller.chartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>controller.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerUserServlet</servlet-name>
        <servlet-class>controller.managerUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginFBServlet</servlet-name>
        <url-pattern>/login-facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login-google</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/AdminLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechargeController</servlet-name>
        <url-pattern>/RechargeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserController</servlet-name>
        <url-pattern>/editUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerFashionController</servlet-name>
        <url-pattern>/ManagerFashionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerProductServlet</servlet-name>
        <url-pattern>/managerProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerBillServlet</servlet-name>
        <url-pattern>/managerBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerEmployeeServlet</servlet-name>
        <url-pattern>/managerEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImgServlet</servlet-name>
        <url-pattern>/uploadImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chartServlet</servlet-name>
        <url-pattern>/chartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerUserServlet</servlet-name>
        <url-pattern>/managerUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
