.filterProduct h5.pro_title a {
    padding: 5px 10px; color: rgb(131, 131, 131); text-transform: uppercase; display: inline-block;
}
.filterProduct h5.pro_title span {
    font-size: 18px;
}
.filterProduct h5.pro_title a.active_cate {
    background: rgb(131, 131, 131); color: rgb(255, 255, 255); margin-left: 10px;
}
.top-detail {
    background: rgb(255, 255, 255); overflow: auto;
}
.singleProduct {
    padding-bottom: 30px;
}
.singleProduct .col-sm-2 {
    padding: 0px; width: 100%; text-align: left;
}