body {
	
}
.item_bloc_filter {
	border: 1px solid rgb(163, 164, 165); border-image: none;
}
.item_bloc_filter .panel-body {
	padding: 15px 0px 0px;
}
.item_bloc_filter .panel-default > .panel-heading {
	background-color: white;
}
.item_bloc_filter ul {
	padding-left: 0px;
}
.item_bloc_filter a {
	color: rgb(146, 148, 149);
}
.item_bloc_filter li {
	list-style: none; color: rgb(146, 148, 149); line-height: 25px; font-size: 13px;
}
.item_bloc_filter li label {
	width: 100%; font-weight: normal; margin-bottom: 0px; position: relative;
}
.item_bloc_filter li:hover {
	color: white; background-color: rgb(144, 198, 222);
}
.item_bloc_filter li label > input[type='radio'] {
	left: 0px; top: 0px; width: 100%; height: 25px; display: block; position: absolute; cursor: pointer; opacity: 0;
}
.item_bloc_filter li label span {
	width: 100%; padding-left: 20px; display: block;
}
.item_bloc_filter li label > input[type='radio']:checked + span {
	color: white; background-color: rgb(144, 198, 222);
}
.item_bloc_filter .panel-heading {
	color: rgb(122, 124, 123); padding-right: 15px; padding-left: 15px; font-size: 13px; font-weight: 700; border-bottom-color: rgb(163, 164, 165); border-bottom-width: 1px; border-bottom-style: solid;
}
.item_bloc_filter .panel {
	margin-bottom: 0px;
}
.searchExtracontent {
	padding: 0px; color: rgb(146, 148, 149); font-size: 11px;
}
.searchExtracontent td {
	padding: 0px 17px 0px 0px;
}
.searchExtracontent_item_content {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; border-image: none; background-color: rgb(255, 255, 255);
}
.searchExtracontent_item_content a {
	color: rgb(51, 51, 51);
}
.result_search a {
	color: rgb(51, 51, 51);
}
.item-search label {
	padding: 0px 5px;
}
.filterProduct_content {
	background-color: white;
}
.searchExtracontent_item {
	color: rgb(51, 51, 51); border-bottom-color: rgb(191, 191, 193); border-bottom-width: 1px; border-bottom-style: solid;
}
.searchExtracontent_inner :first-child.searchExtracontent_item {
	border-top-color: rgb(191, 191, 193); border-top-width: 1px; border-top-style: solid;
}
.searchExtracontent_item label.filterTitle {
	margin: 0px; padding: 9px 0px; font-size: 14px; font-weight: normal; display: block; position: relative; cursor: pointer;
}
.searchExtracontent_item .crResult {
	margin: 0px; padding: 2px 15px 2px 10px; text-transform: capitalize; font-size: 14px; font-weight: normal; border-top-color: rgb(191, 191, 193); border-top-width: 1px; border-top-style: solid; display: block; position: relative; cursor: pointer; background-color: rgb(230, 230, 230);
}
.searchExtracontent_item .crResult a {
	display: inline-block;
}
.lblSearchNo {
	margin: 9px 0px;
}
.searchExtracontent_item label.filterTitle::after {
	top: 13px; width: 0px; right: 2px; border-top-color: rgba(0, 0, 0, 0); border-bottom-color: rgba(0, 0, 0, 0); border-left-color: rgb(87, 87, 87); border-top-width: 4px; border-bottom-width: 4px; border-left-width: 6px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; display: block; position: absolute; content: "";
}
.result_search {
	
}
.result_search .col-sm-6 {
	padding: 5px 15px;
}
.deleteAll_text {
	background: rgb(238, 60, 79); border-radius: 4px; width: auto; height: 22px; color: rgb(255, 255, 255); line-height: 22px; padding-left: 5px; font-size: 12px; margin-right: 5px; margin-bottom: 5px; vertical-align: text-bottom; display: inline-block; position: relative;
}
.deleteAll_text:hover {
	color: rgb(255, 255, 255);
}
.result_text:hover {
	color: rgb(255, 255, 255);
}
.bt_close {
	margin: auto; top: 0px; width: 8px; height: 8px; right: 7px; bottom: 0px; color: rgb(255, 255, 255); line-height: 8px; vertical-align: middle; display: block; position: absolute;
}
a.result_text::after {
	
}
a.deleteAll_text::after {
	background: rgb(235, 29, 45); border-radius: 0px 4px 4px 0px; width: 22px; height: 22px; margin-left: 5px; float: right; content: "";
}
.result {
	padding: 5px 0px; border-radius: 6px; color: white; position: relative; background-color: rgb(33, 141, 188);
}
.result .bt_close {
	background-color: rgb(17, 79, 116);
}
.quantity_result {
	color: rgb(135, 137, 138); line-height: 30px;
}
.bt_close_x {
	padding: 0px 9px; top: 5px; color: white; position: absolute;
}
.bt_close_x a {
	color: white;
}
.searchExtracontent_item_content label {
	font-weight: 400; margin-top: 5px; margin-bottom: 0px;
}
.item-search .btn {
	padding: 2px; border-radius: 0px; font-size: 9px;
}
.filterProduct_smartPhone {
	padding: 0px 20px;
}
.filterProduct_smartPhone label {
	margin: 0px; padding: 10px 0px; color: rgb(18, 79, 118); font-size: 15px; font-weight: normal;
}
.filterProduct_smartPhone .searchExtracontent_item {
	padding: 0px 10px 0px 0px; border: currentColor; border-image: none; float: left;
}
.filterProduct_smartPhone .item-search h4 {
	font-size: 13px; font-weight: bold;
}
.filterProduct_smartPhone .item-search label {
	padding: 0px; color: rgb(0, 0, 0); line-height: 30px; display: block;
}
.filterProduct_smartPhone .searchExtracontent_item_content {
	padding: 15px 0px 15px 15px; border-radius: 10px; border: 1px solid rgb(215, 215, 215); border-image: none; left: 0px; width: 100%; display: none; position: absolute; z-index: 30; box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.47); background-color: rgb(255, 255, 255); -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.47); -moz-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.47);
}
.item-search {
	padding: 0px 10px 10px; border-top-color: rgb(191, 191, 193); border-top-width: 1px; border-top-style: solid;
}
.lblSearchBorder {
	font-weight: 700; display: inline-block; max-width: 100%;
}
.searchExtracontent_item_content label.lblSearchBorder > input[type='checkbox'] {
	display: none;
}
.lblSearchBorder > span {
	background: rgb(255, 255, 255); margin: 5px 4px 5px 0px; padding: 2px 5px; border: currentColor; border-image: none; text-align: center; font-size: 14px; font-weight: normal; display: inline-block; cursor: pointer; min-width: 38px; box-shadow: 0px 0px 0px 1px #b8b8b8;
}
.searchExtracontent_item_content label.lblSearchBorder > input[type='checkbox']:checked + span {
	box-shadow: 0px 0px 0px 1px #c00;
}
.lblSearchNo {
	display: block;
}
.lblSearchNo > input[type=radio] {
	display: none;
}
.lblSearchNo > input[type=checkbox] {
	display: none;
}
.lblSearchNo > input[type=radio] + span {
	text-transform: uppercase; font-size: 14px; font-weight: normal; cursor: pointer;
}
.lblSearchNo > input[type=checkbox] + span {
	text-transform: uppercase; font-size: 14px; font-weight: normal; cursor: pointer;
}
.lblSearchNo > input[type=radio]:checked + span {
	color: rgb(204, 0, 0); font-style: italic;
}
.lblSearchNo > input[type=checkbox]:checked + span {
	color: rgb(204, 0, 0); font-style: italic;
}
.lblSearchNo > input[type=radio]:checked + span > a {
	color: rgb(204, 0, 0); font-style: italic;
}
.lblSearchNo > input[type=checkbox]:checked + span > a {
	color: rgb(204, 0, 0); font-style: italic;
}
.lblSearchColor {
	font-weight: 700; margin-bottom: 5px; display: inline-block; max-width: 100%;
}
.searchExtracontent_item .lblSearchColor > span {
	margin: 8px 8px 3px 0px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 25px; line-height: 20px; display: inline-block; cursor: pointer; box-shadow: 0px 0px 0px 1px #b8b8b8;
}
.searchExtracontent_item .lblSearchColor > input[type='checkbox'] {
	display: none;
}
.searchExtracontent_item .lblSearchColor > input[type='checkbox']:checked + span {
	box-shadow: 0px 0px 0px 1px #c00;
}
.filter_product {
	margin-left: 30px; display: inline-block;
}
#primary_nav_wrap {
	
}
#primary_nav_wrap ul {
	list-style: none; margin: 0px; padding: 0px; float: left; position: relative;
}
#primary_nav_wrap ul a {
	padding: 0px 20px; color: rgb(51, 51, 51); line-height: 22px; font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; font-style: italic; text-decoration: none; display: block;
}
#primary_nav_wrap ul li {
	margin: 0px; padding: 0px; float: left; position: relative;
}
#primary_nav_wrap ul li.current-menu-item {
	
}
#primary_nav_wrap ul li:hover {
	
}
#primary_nav_wrap ul ul {
	background: rgb(255, 255, 255); padding: 0px; left: 0px; top: 100%; display: none; position: absolute; z-index: 2; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
#primary_nav_wrap ul ul li {
	width: 120px; float: none;
}
#primary_nav_wrap ul ul a {
	padding: 7px 15px; line-height: 120%; cursor: pointer;
}
#primary_nav_wrap ul ul ul {
	left: 100%; top: 0px;
}
#primary_nav_wrap ul li:hover > ul {
	display: block;
}
.filter_content {
	display: block;
}
.filter_icon_sp {
	display: none;
}
@media all and (min-width:767px)
{
.filterProduct_smartPhone {
	display: none;
}
}
@media all and (max-width:767px)
{
.filterProduct_smartPhone .col-sm-6 {
	width: 100%;
}
.result_search {
	padding-top: 5px; font-size: 11px;
}
.filterProduct_content {
	display: none;
}
.filterProduct_smartPhone {
	display: block;
}
.item-search .col-sm-6 {
	padding-bottom: 15px;
}
.search_pattern_color {
	padding: 0px 35px 0px 20px;
}
#primary_nav_wrap {
	float: right;
}
.filter_icon_sp {
	display: block;
}
.filter_content {
	display: none;
}
.filter_product {
	float: right; display: inline-block;
}
#primary_nav_wrap ul {
	background: rgb(255, 255, 255); width: 130px; right: 0px; float: right; position: absolute; z-index: 2; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
#primary_nav_wrap ul ul {
	background: rgb(255, 255, 255); padding: 0px; left: auto; top: 100%; right: 100%; display: none; position: absolute; z-index: 2; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
#primary_nav_wrap ul li {
	margin: 0px; padding: 0px; float: none; display: block; position: relative;
}
#primary_nav_wrap ul a {
	padding: 7px 15px; color: rgb(51, 51, 51); line-height: 22px; font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; font-style: italic; text-decoration: none; display: block; white-space: nowrap;
}
}
